body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding:50px;
    justify-content: center;
}

.cards .card {
    background-color: rgba(255, 0, 230, 0.691);
    color: white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    
    transition: 0.3s ease;

    box-shadow: -3px 0 10px rgba(0,0,0,0.3), -4px 0 10px rgba(0,0,0,0.2), -5px 0 10px rgba(0,0,0,0.1) ;
}

.cards .card a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.cards .card a:hover {
    color: lightyellow;
}


.cards .card .content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.cards .card .content .texto {
    font-size: 20px;
    
}

.cards .card .content img {
    padding: 0;
    width: 50%;
    height: 80%;
    border-radius: 20%;
}

.cards .card:hover {
    margin-right: 80px;

    transform: rotate(3deg) translateY(-15px);
}

.cards .card .header .date {
    padding: 10px 0;
}

.cards .card .header .tittle {
    font-size: 28px;
}

.cards .card .footer .autor a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cards .card .footer img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.cards .card[class*="element"]{
    margin-left: -100px;
}

.cards .card.element-1:hover,
.cards .card.element-1:hover {
    margin-left: -130px;
}